@model IEnumerable<Concert>

<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.GroupOrArtistName
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin")) 
                                    {
                                        @*TODO: admin panel anp put here EDIT and DELETE*@
                                    }
                                    <a class="text-white float-right" asp-action="Delete" asp-route-id="@item.ConcertId"><i class="bi bi-trash"></i></a>
                                    
                                    <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.ConcertId"><i class="bi bi-pencil-square"></i></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImageURL" width="100%" alt="@item.GroupOrArtistName">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text"><b>Place: </b>@item.EventPlace</p>
                            <p class="card-text"><b>Date: </b>@item.EventDate.ToString("dd MMM yy")</p>                          
                            <p class="card-text ">
                                <b>Status: </b>
                                @if (item.TicketsCount >0)
                                {
                                    <span class="badge bg-success text-white">Tickets Left: @item.TicketsCount</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger text-white">Sold out</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.ConcertId">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                                @*TODO: make orders*@
                               <a class="btn btn-success text-white @((DateTime.Now > item.EventDate)||(item.TicketsCount<1) ? "disabled" : "")"  
                                   asp-controller="Orders" 
                                   asp-action="AddItemToShoppingCart" 
                                   asp-route-id="@item.ConcertId">
                                <i class="bi bi-cart-plus"></i> Add to Cart (@item.Price.ToString("c"))</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    @*TODO: admin panel and put here ADD NEW*@
}
<div style="position: fixed; right: 25px; bottom: 75px;" class="text-white">
    <a asp-controller="Concert" asp-action="Create" class="btn btn-success"><i class="badge-info bi-plus-circle"></i> Add New</a>
</div>